.animation{
	opacity : 0;
	visibility: hidden;
	transition: 2s;
	transform: translateY(30px);
}
/*アニメーション要素までスクロールした時のスタイル*/
.active{
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.animation1{
	opacity : 0;
	visibility: hidden;
	transition: 2s;
	transform: translateY(30px);
}

.bounce-animation{
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  /* 2回繰り返す */
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2;
}
