.l-header {
  transition: top 0.4s ease; /*0.4秒遅延*/
  background-color: #fff;
  box-sizing: content-box; /*はみ出さないように*/
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 100;
}
.l-header .l-header-inner {
  padding-right: 32px;
  margin: 0 auto;
}
.l-header .l-product-logo {
  padding: 0 1rem;
  background: #a2dbf3;
  display: none;
  margin: 0;
  overflow: hidden; /*内容がボックスに収まらない場合、収まらない部分は非表示*/
  position: relative;
  text-overflow: ellipsis;/*表示テキストのサイズを更に狭める*/
  vertical-align: top;
  white-space: nowrap;/*自動改行しない*/
}
.l-header.fixed-nav {
  overflow: visible; /*ボックスからはみ出して表示される*/
  top: 0;
  position: fixed; /*スクロールしても位置が固定されたままにする*/
  width: 100%;
  z-index: 2000;
}

.l-header .nav-toggle-button{
  background: 0 0;
  border:0;
  color:transparent; /*カラーを透明に*/
  cursor: pointer;
  height:76px;
  right: 5px;
  line-height: 3.75rem;
  outline: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 3.75rem;
  
}

.l-header .nav-toggle-button img, .l-header .nav-toggle-button svg{
  color:#757575;
  height: 2.5rem;
  margin:0 auto;
  width: 2.5rem;
}

/*メニューボタンを隠してクローズボタンを表示*/
.l-header .nav-toggle-button img.menu-bars, .l-header .nav-toggle-button svg.menu-bars {
  display: block;
}

.l-header .nav-toggle-button img.menu-close, .l-header .nav-toggle-button svg.menu-close {
  display: none;
}

@media screen and (min-width: 1024px) {
  .l-header .nav-toggle-button {
    display: none;
  }
}

/* 通常時画面外に出しておく */

.l-header__nav-top{
  right: -86%; /*画面外に出しておく*/
  opacity: 0;
  transition: right 1.2s cubic-bezier(0.19,1,0.22,1);/*右から出てくる*/
  overflow: hidden;
}
.l-header__nav-top .l-product-logo{
  display: none;
}

.l-header__nav-top ul {
  display: none;
  margin-left: 1.1rem;
}

.l-header__nav-top a{
  color:#4c4c4c;
  font-weight: 300;
  letter-spacing: .01562rem;
  line-height: 1.375rem;
  display: inline-block;
  padding: 21px 0 19px;
  text-decoration: none;
}

.l-header__nav-top a:hover{
  color:#777;
}


/* メニューボタンが押されたっときのcss */

.nav-open{
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.nav-open main {
  overflow: hidden;
  pointer-events:none;
  -ms-touch-action:none;
  touch-action:none; /*ズームのジェスチャーを扱うことを無効にする*/
}

.nav-open .l-header {
  overflow: visible;
}

.nav-open .l-header .nav-toggle-button{
  left:auto;
  right: .3125rem;
  z-index:1200;
}

.nav-open .l-header .nav-toggle-button img.menu-bars, .nav-open .l-header .nav-toggle-button svg.menu-bars{
  display: none;
}
.nav-open .l-header .nav-toggle-button img.menu-close, .nav-open.l-header .nav-toggle-button svg.menu-close{
  display: block;
}

.nav-open .l-header__nav-top {
  background: #fff;
  display: block;
  height: 100%;
  right: 0;
  opacity: 1;
  position: fixed;
  top: 0;
  max-width: 25rem;
  width: 86%;
  z-index: 1100;

}

.nav-open .l-header__nav-top .l-product-logo{
  display: block;
  padding: 4px 30px 0;
  z-index:1200;
}

.nav-open .l-header__nav-top .l-product-logo a {
  border-bottom: 0;
  height: 40px;
}

.nav-open .l-header__nav-top .l-product-logo img, .nav-open .l-header__nav-top .l-product-logo svg{
  position: absolute;
  top: 4px;
  left: 1.1rem;
  height: 40px;
  width: auto;
}

.nav-open .l-header__nav-top ul {
  display: block;
  margin: 0;
}

.nav-open .l-header__nav-top ul li a {
  border-bottom: 0;
  display: block;
  padding: 13px 24px;
}

.nav-open .black-bg{
  background: rgba(0,0,0,0.1);
  height: 100vh;
  position: fixed;
  right: 0;
  width: 100vw;
  z-index:1000;
}


/*ヘッダーを固定するためのcss*/

